{:aliases {:dev {:extra-paths ["development/src"]

                 :extra-deps {poly/server {:local/root "components/server"}

                              poly/utils {:local/root "components/utils"}

                              poly/amazing-app {:local/root "bases/amazing-app"}

                              org.clojure/clojure {:mvn/version "1.12.2"}}}

           :test {:extra-paths ["components/server/test"
                                "components/utils/test"
                                "bases/amazing-app/test"]

                  :extra-deps {}}

           :poly {:extra-deps {polylith/clj-poly {:mvn/version "0.3.30"}}
                  :main-opts  ["-m" "polylith.clj.core.poly-cli.core"]}}}
