{:aliases {:dev {:extra-paths ["development/src"]

                 :extra-deps {poly/server {:local/root "components/server"}

                              org.clojure/clojure {:mvn/version "1.12.0"}}}

           :test {:extra-paths []

                  :extra-deps {}}

           :poly {:extra-deps {polylith/clj-poly {:mvn/version "0.3.30"}}
                  :main-opts  ["-m" "polylith.clj.core.poly-cli.core"]}}}
