{:deps {poly/server {:local/root "../../components/server"}

        poly/utils {:local/root "../../components/utils"}

        poly/amazing-app {:local/root "../../bases/amazing-app"}

        org.clojure/clojure {:mvn/version "1.12.2"}}

 :aliases {:dev {:extra-deps {thheller/shadow-cljs {:mvn/version "3.2.1"}}}
           :test {:extra-paths []
                  :extra-deps  {}}}}
